@import "milligram/src/milligram";

body {
  margin: 0;
  padding: 0;
  background: black;
  color: white;
  font: caption;
  font-family: "Courier New", sans-serif;
}

pre {
  background: #333;
  padding-left: 1rem;
}

a {
  color: white;

  &:hover {
    color: hotpink;
  }
}

.app-router {
  position: fixed;
  padding: 7.4rem 0 3rem;
  width: 100%;
  height: 100%;
  background: black;
  z-index: 1;
}

.app-header {
  position: fixed;
  background: #333;
  width: 100%;
  z-index: 2;

  > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  h1 {
    margin: 0;
  }
}

#phaser-container canvas {
  display: block;
  margin: auto;
}
